@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
.heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-bottom: 60px;
}

.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-top: 140px;
}

.about__wrapper:nth-child(1) .about__image {
  background: url(/source/about01.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin-left: 300px;
}

.about__wrapper:nth-child(2) .about__image {
  background: url(/source/about02.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.about__heading {
  max-width: 465px;
  margin-top: 60px;
}

.about__text {
  max-width: 672px;
}

.about__btn {
  width: 201px;
  height: 63px;
  background: #4F9CF9;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about__image {
  width: 748px;
  height: 547px;
}

.use {
  background: #043873;
  color: #fff;
}

.use__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.use__block {
  padding: 140px 0px;
}

.use__block:nth-child(1) {
  max-width: 700px;
  margin-right: 100px;
}

.use__heading {
  margin-top: 92px;
}

.use__btn {
  width: 171px;
  height: 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4F9CF9;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
}

.use__image {
  width: 550px;
  height: 479px;
  background: url(/source/use01.png) center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.sponsors__block:nth-child(1) {
  margin-top: 140px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors__block:nth-child(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.sponsors__logo:nth-child(1) {
  width: 55.45px;
  height: 68px;
  background: url(/source/apple.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.sponsors__logo:nth-child(2) {
  width: 287px;
  height: 62px;
  background: url(/source/microsoft.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.sponsors__logo:nth-child(3) {
  width: 280px;
  height: 71px;
  background: url(/source/slack.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.sponsors__logo:nth-child(4) {
  width: 211px;
  height: 70px;
  background: url(/source/google.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.footer {
  background: #043873;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__heading {
  margin-top: 140px;
  max-width: 700px;
  text-align: center;
}

.footer__text {
  margin-bottom: 40px;
  max-width: 475px;
  text-align: center;
}

.footer__btn {
  margin-bottom: 40px;
  width: 218px;
  height: 59px;
  background: #4F9CF9;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__logo-wrapper {
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.footer__logo {
  width: 60px;
  height: 60px;
}

.footer__logo:nth-child(1) {
  background: url(/source/footer01.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.footer__logo:nth-child(2) {
  background: url(/source/footer02.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.footer__logo:nth-child(3) {
  background: url(/source/footer03.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: #fff;
}

html,
body {
  overflow-x: hidden;
  font-size: 18px;
  color: #212529;
  font-family: 'Inter', sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
}

.header {
  background: #043873;
}

.header__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__block:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 37px;
  height: 29px;
  background: url(/source/logo.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  margin-right: 10px;
}

.header__logo-text {
  padding: 29px 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
}

.header__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation li {
  list-style: none;
  margin-right: 32px;
}

.header__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  padding: 18.5px 40px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

.header__btn:nth-child(1) {
  background: #FFE492;
  margin-right: 24px;
  color: #043873;
}

.header__btn:nth-child(2) {
  background: #4F9CF9;
}

.main {
  background: #043873;
  min-height: 100vh;
  color: #fff;
}

.main__block {
  margin-top: 234px;
}

.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__heading {
  font-size: 64px;
  max-width: 656px;
}

.main__text {
  max-width: 615px;
}

.main__btn {
  width: 219px;
  height: 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4F9CF9;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

.main__image {
  width: 684px;
  height: 456px;
  background: url(/source/main01.png) center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
