$blue: #043873;
$blue-light: #4F9CF9;
$black: #212529;
$white: #fff;


.heading {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-bottom: 60px;
}